#display{
    position: absolute;
    border: 4px solid rgb(96, 96, 96);
    border-radius: 15px;
    top: 0px;
    width: min(50%, 100vh/1.5);
    left: 50%;
    height: auto;
  }

#displayScroll{
    position: relative;
    border: 4px solid rgb(96, 96, 96);
    border-radius: 15px;
    top: 0px;
    width: 100%;
    height: auto;
  }

